<ul style="list-style-type:none;">
  <% for task in @project.tasks  %>
    <li class="task">
      <%= link_to "[ ]" %>
      <%= task.description %>
      <%= link_to "Remove", project_task_path(project_id: @project.id, id: task.id), method: :delete %>
    </li>
  <% end %>
</ul>
