<%= form_with model: [@project, @project.tasks.build], class: "new-task-form" do |form| %>
  <div class="row ml-0 task">
    <div class="task-row-input">
      <div class="input-group input-group-lg">
        <%= form.text_field :description, placeholder: "New task", id: "new-task-input", class: "form-control input-lg mb-2"  %>
      </div>
    </div>
    <div id="task-row-submit" class="col-lg-1">
      <div class="input-group-btn">
        <%= button_tag class: 'task-submit-button' do %>
          <i class="fa fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
