// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.project-edit {
  padding-left: 10px;
}

.task-action {
  float: right;
}

.task {
  flex-wrap: nowrap;
  margin-right: 0px;
}

.new-task-form {
  padding-left: 39px;
  margin-left: 0px;
}

.task-row-input {
  flex: 0 0 100%;
  max-width: 100%;
}

#new-task-input {
  padding-left: 43px;
  height: 49px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#task-row-submit {
  padding-left: 0px;
  margin-left: -40px;
  margin-top: 10px;
  z-index: 99;
}

.task-submit-button {
  border: none;
  color: #007bff;
  background-color: white;
}
