// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit p {
  font-family: verdana, arial, helvetica, sans-serif;
}

.project-edit {
  padding-left: 10px;
}

.task-action {
  float: right;
}

.task {
  flex-wrap: nowrap;
  margin-right: 0px;
  padding-left: 1px;
}

.completed-task {
  text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

.new-task-form {
  padding-left: 39px;
  margin-left: 0px;
}

.task-row-input {
  flex: 0 0 100%;
  max-width: 100%;
}

#new-task-input {
  padding-left: 45px;
  height: 49px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 18px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-top-style: hidden;
}

#task-row-submit {
  padding-left: 0px;
  margin-left: -40px;
  margin-top: 10px;
  z-index: 99;
}

.task-submit-button {
  border: none;
  color: #007bff;
  background-color: inherit;
}
